
<div class="container">
  <div class="row">
      <div class="col">
        <h2>Create New Post</h2>

        <form class="new-post-form">
          <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
            <label for="post-description">Description</label>
            <input id="post-description" name="post-description" />
          </div>
          <div class="pokemon-team">
            <div class="pokeballs-div">
              <div class="pokeball-1"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-1" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
              <div class="pokeball-2"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-2" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
              <div class="pokeball-3"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-3" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
              <div class="pokeball-4"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-4" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
              <div class="pokeball-5"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-5" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
              <div class="pokeball-6"> <!-- this div marks the point to create a new pokeball -->
                  <select id="pokemon-6" class="dropdown-content">
                    <option value="none">None</option>
                    {{#each pokemon}}
                    <option value="{{this.name}}" id="{{this.id}}">{{this.name}}</option> <!-- fill out dropdown options with pokemon -->
                    {{/each}}
                  </select>
              </div>
            </div>
            <!-- create 6 inputs inside of 6 pokeballs here -->
            <!-- please add entire pokemon object with id into the viable options in the dropwdown -->
            <!-- I need the ID to be able to properly fetch and correlate the necessary tables with each other - eli -->
          </div>
          <button type="submit" class="btn">Create</button>
        </form>
      </div>

      {{!-- using this '#if' to only show this if the user has posts --}}
      {{#if posts.length}}
        <div class="col">
          <h2 class="pt-4">Your Posts</h2>
          <ol>
              {{#each posts as |post|}}
              <li>
                  {{!-- using post-info partial --}}
                  {{> post-info post}}
                  <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
              </li>
              {{/each}}
          </ol>
        </div>
      {{/if}}
  </div>
</div>

<script src="/js/add-post.js"></script>
<!-- <script src="/js/filtered-dropdown.js"></script> No longer needed, as we'll be using <select> as the selector of pokemon -->